<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>-- Bienvenidos --</h1>
    <a href="{{ url_for('mostrar_agenda') }}"> <b>Mostrar contactos</b> </a><hr>
    <a href="{{ url_for('agregar_agenda') }}"> <b>Agregar contactos</b> </a><hr>
    <a href="{{ url_for('consultar_agenda') }}"> <b>Consultar contactos</b> </a><hr>
    <a href="{{ url_for('actualizar_agenda') }}"> <b>Actualizar contactos</b> </a><hr>
    <a href="{{ url_for('eliminar_agenda') }}"> <b>Eliminar contactos</b> </a><hr>
</body>
</html>