<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for elemento in contactos %}
            <ul><b>Nombre:</b>{{ elemento.nombre }}</ul>
            <ul><b>Empresa:</b> {{ elemento.empresa }}</ul>
            <ul><b>Correo:</b> {{ elemento.correo }}</ul>
            <ul><b>Teléfono:</b> {{ elemento.telefono }}</ul>
            <ul><b>Nota:</b> {{ elemento.nota }}</ul><hr>
        {% endfor %}
    <form method="get" action="{{ url_for('indice') }}">
        <button type="submit">        
        <b>Inicio</b><br />       
        </button>        
    </form>
</body>
</html>